<!DOCTYPE html>
<html>
<head>
    <title>Project-REST</title>
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito|Rancho" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
</head>
<body>

    <div class="show-page">
        <!-- NAVBAR -->
        
        <header class="header">
            <div class="header__nav--center">
                <a class="header__btn link--1" href="/beaches">Beaches</a>
                <a class="header__btn heading--0 link--1" href="/">Project REST</a>
                <a class="header__btn link--1" href="/about/Project-REST">About</a>
        
            </div>
        
            <div class="header__nav--right">
                <% if(!currentUser) {%>
                    <a class="header__btn link--1" href="/login">Login</a>
                    <a class="header__btn link--1" href="/register">Sign Up</a>
                    <% } else { %>
                        <a class="header__btn" href="#" onclick="return false">Signed in as
                            <%= currentUser.username %>
                        </a>
                        <a class="header__btn link--1" href="/logout">Logout</a>
                        <% } %>
            </div>
        
        
            <!-- flash messages -->
            <div class="flash" id="flash">
                <% if(error && error.length > 0) {%>
                    <div class="alert alert-warning" role="alert">
                        <%=error%>
                    </div>
                <% } %>
                <% if(success && success.length > 0) {%>
                    <div class="alert alert-success" role="alert">
                        <%=success%>
                    </div>
                <% } %>
            </div>

        </header>

        <!-- MAIN CONTENT -->

        <section class="beach">

            <div class="beach-item">

                <img src="<%=beach.image%>">
                <h1>
                    <%=beach.name%>
                </h1>
                <p class="beach-location" id="location">
                    <%=beach.location%>
                </p>
                <p class="beach-author" id="author">Beach posted by
                    <%=beach.author.username%>
                </p>
                
            </div>

            <div class="beach-map" id="map"></div>

            <p class="beach-description"><%=beach.description%></p>


            <!-- hide buttons for unauthorized users -->
            <% if(currentUser && beach.author.id.equals(currentUser._id)) {%>
                <a class="beach-edit btn btn--4 link--3" href="/beaches/<%=beach._id%>/edit">Edit beach</a>
                <form class="beach-delete" action="/beaches/<%=beach._id%>?_method=DELETE" method="POST">
                    <input class="btn--3 btn" type="submit" value="Delete beach">
                </form>
            <% } %>


            <!-- COMMENT SECTION -->

            <div class="beach-comments">
                
                <div class="comments__navbar">&nbsp;</div>
                <h5 class="comments__header heading--4">Leave here your thoughts</h5>
                <a class="comments__link link btn--5" href="/beaches/<%=beach._id%>/comments/new">Add comment</a>
                
                
                
                <div class="comment__item">
                    <%beach.comments.forEach(function(comment) {%>
                        <p class="comment__author">
                            <%=comment.author.username%>
                        </p>
                        <p class="comment__text">
                            <%=comment.text%>
                        </p>

                        <div class="comment__options">
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) {%>
                                <form class="comment__delete" action="/beaches/<%=beach._id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
                                    <input class="btn--3 btn" type="submit" value="Delete">
                                </form>
                                <a class="comment__edit btn btn--4 link--3" href="/beaches/<%=beach._id%>/comments/<%=comment._id%>/edit">Edit</a>
                            <% } %>
                        </div>
                    <%})%>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        
        <footer class="footer">
            <div class="footer__content">
                <p>Created by Alexander Van Oers</p>
                <p>vo.c.alexander@gmail.com</p>
                <a class="link--1" href="https://www.linkedin.com/in/alexander-van-oers-3284b3124/">LinkedIn</a>
                <p>London, UK</p>
            </div>
        </footer>

    </div>



    <!-- override font from google map -->
    <script src="/js/googleMap.js" type="text/javascript"></script>
    <script>
        function initMap() {
            var lat =  <%= beach.lat %>;
            var lng = <%= beach.lng %>;
            var center = { lat: lat, lng: lng };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center,
                scrollwheel: false
            });
            var contentString = `
          <strong><%= beach.name %><br />
          <%= beach.location %></strong>
          <p><%= beach.description %></p>
        `
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIiL4vc95xxbrunoFJx1nq0g1pFKuQm04&callback=initMap"></script>