<!DOCTYPE html>
<html>
<head>
    <title>Project-REST</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="/">Project REST
                <i class="fas fa-anchor"></i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/beaches">Beaches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/Project-REST">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <% if(!currentUser) {%>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="#" onclick="return false">Signed in as
                                    <%= currentUser.username %>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                            <% } %>
                </ul>
            </div>
        </nav>
    </div>

    <!-- flash messages -->
    <div class=" flash container">
        <% if(error && error.length > 0) {%>
            <div class="alert alert-warning" role="alert">
                <%=error%>
            </div>
        <% } %>
        <% if(success && success.length > 0) {%>
            <div class="alert alert-success" role="alert">
                <%=success%>
            </div>
        <% } %>
    </div>


    <div class="grid">
        <div class="content">
            <h1 class="beachName">
                <%=beach.name%>
            </h1>
            <div class="beachLeftContent card">
                <img class="card-img-top" src="<%=beach.image%>">
                <div class="card-subtitle card-body">
                    <p id="location"><%=beach.location%></p>
                    <p id="author">Beach posted by <%=beach.author.username%></p>
                </div>
            </div>
        
            <div class="beachRightContent">
                <div class="rounded" id="map"></div>
            </div>
        
            <div class="beachDescription border rounded card-body bg-light">
                <p>
                    <%=beach.description%>
                </p>
            </div>
        
        
            <!-- hide buttons for unauthorized users -->
            <div class="beachOptions">
                <% if(currentUser && beach.author.id.equals(currentUser._id)) {%>
                    <a class="btn btn-success float-right" href="/beaches/<%=beach._id%>/edit">Edit beach</a>
                    <form action="/beaches/<%=beach._id%>?_method=DELETE" method="POST">
                        <input class="btn btn-outline-danger" type="submit" value="Delete beach">
                    </form>
                    <% } %>
            </div>
        
        
            <div class="beachCommentSection">
                <h5 class="card-header">Leave here your thoughts
                    <a class="float-right" href="/beaches/<%=beach._id%>/comments/new">Add comment</a>
                </h5>
                <%beach.comments.forEach(function(comment) {%>
                    <div class=" comment border rounded card-body">
                        <p class=" commentDescription">
                            <%=comment.text%>
                        </p>
                        <p class=" commentAuthor">
                            <%=comment.author.username%>
                        </p>
                        <div class="commentOptions">
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) {%>
                                <form action="/beaches/<%=beach._id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
                                    <input class="btn btn-outline-danger float-right" type="submit" value="Delete">
                                </form>
                                <a class="btn btn-warning" href="/beaches/<%=beach._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                <% } %>
                        </div>
                    </div>
                    <%})%>
            </div>
        </div>
        <footer>
            <div class="container contact">
                <p id="email">vo.c.alexander@gmail.com</p>
                <p id="created">Created by Alexander Van Oers</p>
                <a id="linkedIn" href="https://www.linkedin.com/in/alexander-van-oers-3284b3124/">LinkedIn</a>
                <p id="location">London, UK</p>
            </div>
        </footer>
    </div>



    <!-- override font from google map -->
    <script src="/js/googleMap.js" type="text/javascript"></script>
    <script>
        function initMap() {
            var lat =  <%= beach.lat %>;
            var lng = <%= beach.lng %>;
            var center = { lat: lat, lng: lng };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center,
                scrollwheel: false
            });
            var contentString = `
          <strong><%= beach.name %><br />
          <%= beach.location %></strong>
          <p><%= beach.description %></p>
        `
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIiL4vc95xxbrunoFJx1nq0g1pFKuQm04&callback=initMap"></script>


<%include ../partials/footer %>